*{
    box-sizing: border-box;
}

html{
    /* font-size = 10px 1rem now = 10px*/
    font-size: 62.5%; 
}

body{
    font-size: 1.6rem; 
    font-family: "Poppins", sans-serif;
    height: 10000px;
}

/* ==========COMMON========== */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px); /* nếu max-width < width -> lấy max-width, calc giúp tính toán hiển thị hợp lí trên nhiều thiết bị */
    margin: 0 auto;
    /* position: relative;
    left: 50%;
    transform:  translateX(-50%); */
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px; 
    line-height: 50px;
    color: #fff;
    background-color: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

/* ==========HEADER========== */
.header{
    background-color: #FFFCF4;
}

.header.fixed{
    position: sticky;
    top: -28px;
}

.header-body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav{
    margin-left: auto;
}

.nav ul{
    display: flex;
}

.nav a{
    color: #5F5853;
    font-size: 1.6rem;
    padding: 0px 21px;
    position: relative;
}

.nav li.active a,
.nav a:hover{
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
    position: absolute;
    left: 21px;
    bottom: -1px;
}

.header .btn-sign-up{
    min-width: 144px;
}

.header .action{
    margin-left: 49px;
}


